<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto libero minus
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus placeat dolor 
            ipsa hic, et quod laboriosam! Provident nobis nisi vel ex quos fugiat perferendis 
            officia quidem, ratione, ipsum, consectetur cupiditate.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt excepturi
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis mollitia odio dicta, 
            nisi accusantium velit quos doloremque eveniet delectus vel nihil architecto natus, 
            provident veritatis ex ipsum itaque quidem dolores.
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non error minima
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt cumque assumenda fugiat 
            natus dicta vero et aliquam recusandae, id quia tempora pariatur nobis possimus cum 
            architecto, quo eveniet. Repudiandae, ullam.
        </p>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>